USE [HMS]
GO
/****** Object:  StoredProcedure [dbo].[PR_User_ValidateLogin]    Script Date: 11-09-2025 17:56:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[PR_User_ValidateLogin]
    @Username VARCHAR(50),
    @Password VARCHAR(500)
AS
BEGIN
    SELECT 
        [dbo].[User].[UserID], 
        [dbo].[User].[Username], 
        [dbo].[User].[Email]
    FROM 
        [dbo].[User] 
    WHERE 
        [dbo].[User].[Username] = @Username 
        AND [dbo].[User].[Password] = @Password;
END