@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to LifeCare Hospital</h1>
    <p>
        “A smart and intuitive dashboard for seamless hospital operations — enabling better patient care, efficient staff coordination, and real-time insights at a glance.”

    </p>
</div>
